body {
    font-family: var(--font-rubik), sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-libre_franklin), sans-serif;
  }

  header {
    width: 90%;
    padding: 15px;
    border-radius: 5px;
    position: fixed;
    top: 7%;
    /* Position à 50% du haut */
    left: 50%;
    /* Position à 50% de la gauche */
    transform: translate(-50%, -50%);
    /* @media screen and (min-width: 1155px) {
        background-color: var(--bg-0);
    } */
    background-color: var(--bg-0);
    opacity: 0.9;
    z-index: 1;
}

  footer {
    width: 100%;
  }
  
  .burger { 
    color: black;
  }

  .topo {
    padding-top: 150px !important;
  }

  .logo {
    margin-bottom: 0;
  }